repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: system
        types: [python]
        args: ['--check', '--diff']
        pass_filenames: true

      - id: isort
        name: isort
        entry: uv run isort
        language: system
        types: [python]
        args: ['--check-only', '--diff']
        pass_filenames: true
