repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        name: ruff linter
        args: [--fix, --unsafe-fixes]
      - id: ruff-format
        name: ruff formatter
