@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font assignments */
@layer base {
  /* Main titles - Roboto Medium */
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  
  /* Normal text - Roboto Light */
  body, p, span, div, li, td, th {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  /* Extra text - Poppins Regular */
  .extra-text, .sidebar-item, button, input, label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
}